<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvp.pattern.uas.akb.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mvp.pattern.uas.akb.myapp.SplashScreenActivity"
        android:theme="@style/SplashScreenTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.IntroActivity"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.LoginActivity"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.LoginUser"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.RegisterActivity"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.MainActivity"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.Daftar"/>
        <activity android:name="com.mvp.pattern.uas.akb.myapp.LoadActivity"/>



    </application>


</manifest>